*h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
    color:#3175dc;
}

.mainContainer {
    width: 1200px;
    border: 1px solid silver;
    min-height: 850px;
    margin-left: auto;
    margin-right: auto;
}

.topBar {
    padding: 15px;
    border-bottom: 1px solid silver;
}
.title{
    float:left;
}
.user{
    float:right;
    padding-top:15px;
}
.menuBar {
    padding: 7px;
    border-bottom: 1px solid silver;
    background-color: #c600ff;
}

    .menuBar a {
        padding: 5px 7px;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 13pt;
        border-right: 1px solid white;
    }

        .menuBar a:hover {
            text-decoration: underline;
        }

.contentContainer {
    padding:15px;
}
